.hidden {
  display: none;
}

body {
  font-family: "Montserrat", sans-serif;
  background-color: #fafafa;
  color: #111;
}

a {
  text-decoration: none;
}

.orange {
  color: #fd9222;
}

.section-title {
  font-family: "Montserrat", sans-serif;
  font-weight: 600;
  font-size: 24px;
  line-height: 1.16;
  letter-spacing: -0.03em;
  text-transform: uppercase;
  text-align: center;
  color: #111;
}

ul,
ol {
  list-style-type: none;
  margin: 0;
  padding: 0;
}
.visually-hidden {
  position: absolute;
  width: 1px;
  height: 1px;
  margin: -1px;
  border: 0;
  padding: 0;
  white-space: nowrap;
  clip-path: inset(100%);
  clip: rect(0 0 0 0);
  overflow: hidden;
}
p,
h1,
h2,
h3,
h4,
h5,
h6 {
  margin: 0;
}

button {
  cursor: pointer;
  font-family: "Montserrat", sans-serif;
}
.container {
  min-width: 375px;
  padding-left: 20px;
  padding-right: 20px;
  margin: 0 auto;
}

@media screen and (min-width: 768px) {
  .container {
    min-width: 768px;
    padding-left: 32px;
    padding-right: 32px;
  }
}

@media screen and (min-width: 1168px) {
  .container {
    min-width: 1168px;
    padding-left: 16px;
    padding-right: 16px;
  }
}

/* #region burger-menu */
.burger-menu {
  position: fixed;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background-color: #1e1823;
  visibility: hidden;
  pointer-events: none;
  z-index: 99999;
  opacity: 0;
  transform: translateX(100%);
  transition: opacity 300ms cubic-bezier(0.075, 0.82, 0.165, 1),
    visibility 300ms cubic-bezier(0.165, 0.84, 0.44, 1);
  padding: 136px 20px 20px 20px;
}
.burger-menu.is-open {
  opacity: 1;
  visibility: visible;
  pointer-events: all;
  transform: translateX(0%);
}

.close-btn {
  border: none;
  fill: none;
  background-color: transparent;
  padding: 0;
  width: 28px;
  height: 28px;
  position: absolute;
  right: 20px;
  top: 20px;
}

.close-icon {
  fill: #ffff;
}
.nav-list-burger {
  display: flex;
  flex-direction: column;
  gap: 24px;
}

.item-burger-link {
  font-weight: 500;
  font-size: 36px;
  line-height: 1.1;
  letter-spacing: -0.02em;
  color: #fff;
}

.item-burger-link.current {
  color: #fd9222;
}
.burger-menu-icon-list {
  display: flex;
  gap: 18px;
  margin-top: auto;
}
.burger-menu-icon {
  stroke: #fff;
  fill: none;
}

@media screen and (min-width: 768px) {
  .burger-menu {
    display: none;
  }
}

/* #endregion burger-menu */
/* #region header */

.header-container {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 20px 20px 14px 20px;
}
@media screen and (max-width: 767px) {
  .nav-list-header,
  .burger-icon {
    display: none;
  }
}

.logo {
  font-style: normal;
  font-weight: 700;
  font-size: 18px;
  line-height: 1.11;
  letter-spacing: -0.03em;
  color: #111;
  display: flex;
  gap: 4px;
}

.logo-style {
  font-style: italic;
}
.header-icon {
  stroke: #fd9222;
  fill: #fff;
}
.burger-btn {
  border: none;
  background-color: transparent;
  padding: 0;
}
.burger-icon-list {
  display: flex;
  gap: 18px;
}

@media screen and (min-width: 768px) {
  .burger-btn {
    display: none;
  }
  .header-container {
    padding: 28px 32px;
  }
  .logo {
    font-size: 14px;
    line-height: 1.28;
  }

  .item-nav-link {
    font-weight: 500;
    font-size: 14px;
    line-height: 1.14;
    letter-spacing: -0.02em;
    color: #111;
  }
  .nav-list-header {
    display: flex;
    flex-direction: row;
    gap: 24px;
    margin-left: 101px;
  }
  .burger-icon-list {
    margin-top: 0;
    margin-left: 48px;
  }
  .burger-icon {
    stroke: #111;
  }
}
@media screen and (min-width: 1168px) {
  .header-container {
    display: flex;
    justify-content: space-between;
    align-items: center;
  }
  .logo {
    font-size: 18px;
    line-height: 1.11;
  }
  .burger-icon {
    width: 21px;
    height: 21px;
  }
  .nav-list-header {
    margin-left: 447px;
  }
  .burger-icon-list {
    margin-left: 0;
  }
  .item-nav-link:hover,
  .item-nav-link:focus {
    color: #fd9222;
  }
  .icon-link:hover .burger-icon,
  .con-link:focus .burger-icon {
    stroke: #fd9222;
  }
}
/* #endregion header */

/* #region hero  */
.hero {
  background-color: #1e1823;
  background-image: linear-gradient(
      rgba(17, 17, 17, 0.4),
      rgba(17, 17, 17, 0.4)
    ),
    url(../images/chocolate-covered.jpg);
  background-repeat: no-repeat;
  background-size: cover;
  background-position: center;
  margin-bottom: 60px;
  margin-right: auto;
  margin-left: auto;
}
.hero-container {
  margin-right: auto;
  margin-left: auto;
  max-width: 1200px;
  padding: 395px 40px 20px 40px;
}
.hero-title {
  font-weight: 500;
  font-size: 20px;
  line-height: 1.2;
  letter-spacing: -0.03em;
  color: #fff;
  max-width: 280px;
  margin-bottom: 32px;
}
.btn-container {
  display: flex;
  flex-wrap: wrap;
  column-gap: 14px;
  row-gap: 32px;
}
.btn-container-icon {
  display: flex;
  gap: 14px;
}

.hero-btn {
  font-family: inherit;
  font-weight: 600;
  font-size: 14px;
  color: #fff;
  background-color: #fd9222;
  width: 120px;
  height: 41px;
  border-radius: 100px;
  border: none;
}
.hero-btn:active {
  background-color: #fcf1e0;
  color: #fd9222;
}

.hero-link-made {
  display: block;
  font-weight: 600;
  font-size: 14px;
  color: #fff;
  border-radius: 100px;
  border: 1px solid #fff;
  background-color: transparent;
  width: 159px;
  height: 41px;
  text-align: center;
  padding: 12px;
}
.hero-link-made:active {
  border: 1px solid #fd9222;
  background-color: #fafafa;
  color: #fd9222;
}

.hero-link-down {
  font-weight: 500;
  font-size: 14px;
  line-height: 1.28;
  letter-spacing: -0.03em;
  color: #fff;
  display: flex;
  align-items: center;
  gap: 12px;
}
.hero-icon {
  width: 28px;
  height: 28px;
  background-color: #fff;
  border-radius: 50%;
  display: flex;
  align-items: center;
  justify-content: center;
  padding: 0;
  line-height: 0;
}

.hero-icon-tick {
  fill: #fd9222;
}

@media screen and (min-width: 768px) {
  .hero {
    background-image: linear-gradient(
        rgba(17, 17, 17, 0.4),
        rgba(17, 17, 17, 0.4)
      ),
      url(../images/chocolate-covered-tablet.jpg);
    margin-bottom: 40px;
  }
  @media (min-resolution: 2x) {
    .hero {
      background-image: linear-gradient(
          rgba(17, 17, 17, 0.4),
          rgba(17, 17, 17, 0.4)
        ),
        url(../images/chocolate-covered-tablet@2x.jpg);
    }
  }
  .hero-container {
    padding: 671px 72px 40px 72px;
  }
  .hero-title {
    font-size: 28px;
    line-height: 1.21;
    max-width: 484px;
  }
  .btn-container {
    flex-direction: row;
    align-items: baseline;
    justify-content: space-between;
  }
  .hero-btn {
    width: 144px;
    height: 45px;
  }
  .hero-btn:hover,
  .hero-btn:focus {
    color: #fd9222;
    background-color: #fcf1e0;
  }
  .hero-link-made {
    width: 183px;
    height: 45px;
  }
  .hero-link-made:hover,
  .hero-link-made:focus {
    color: #fd9222;
  }

  .hero-link-down:hover,
  .hero-link-down:focus {
    color: #fd9222;
  }
}

@media screen and (min-width: 1168px) {
  .hero {
    background-image: linear-gradient(
        rgba(17, 17, 17, 0.4),
        rgba(17, 17, 17, 0.4)
      ),
      url(../images/chocolate-covered-desk.jpg);
    margin-bottom: 72px;
  }

  @media (min-resolution: 2x) {
    .hero {
      background-image: linear-gradient(
          rgba(17, 17, 17, 0.4),
          rgba(17, 17, 17, 0.4)
        ),
        url(../images/chocolate-covered-desk@2x.jpg);
    }
  }
  .hero-container {
    padding: 381px 72px 40px 72px;
  }
}
/* #endregion hero  */

/* #region Benefits  */
.benefits {
  background-color: #1e1823;
  margin-bottom: 60px;
}
.benefits-container {
  padding: 20px;
}

.benefits-list {
  display: flex;
  flex-direction: column;
  gap: 20px;
}

.benefits-list-item {
  width: 308px;
}
.benefits-container-icon {
  width: 62px;
  height: 62px;
  border-radius: 50%;
  border: 1px solid rgba(255, 255, 255, 0.5);
  margin-bottom: 22px;
  display: flex;
  align-items: center;
  justify-content: center;
}
.benefits-icon {
  fill: #fd9222;
}

.benefits-item-title {
  font-weight: 600;
  font-size: 18px;
  color: #fff;
  margin-bottom: 18px;
}

.benefits-item-text {
  font-weight: 400;
  font-size: 14px;
  letter-spacing: -0.02em;
  color: rgba(255, 255, 255, 0.7);
}

@media screen and (min-width: 768px) {
  .benefits {
    margin-bottom: 80px;
  }
  .benefits-container {
    padding: 50px 32px;
  }
  .benefits-list {
    flex-direction: row;
    flex-wrap: wrap;
    gap: 32px;
  }
  .benefits-list-item {
    width: calc((100% - 32px) / 2);
  }
}
@media screen and (min-width: 1168px) {
  .benefits {
    margin-bottom: 100px;
  }
  .benefits-container {
    padding: 50px;
  }
  .benefits-list {
    flex-direction: row;
    flex-wrap: nowrap;
    gap: 70px;
  }
  .benefits-list-item {
    width: calc((100% - 140px) / 3);
  }
}
/* #endregion Benefits  */

/* #region TASTE SENSATION  */
.taste-sensation {
  margin-bottom: 60px;
}
.taste-sensation-title {
  margin-bottom: 24px;
}

.section-title-text {
  font-weight: 400;
  font-size: 14px;
  line-height: 1.28;
  letter-spacing: -0.02em;
  text-align: center;
  color: #111;
  margin-bottom: 32px;
}

.taste-sensation-list {
  display: flex;
  flex-direction: column;
  gap: 20px;
}

.taste-sensation-list-items {
  text-align: center;
  width: 335px;
  border-radius: 15px;
  border: 1px solid #fd9222;
}
.taste-sensation-list-items:nth-child(1) {
  border: none;
  background-color: #fd9222;
}
.taste-sensation-list-items:nth-child(3) {
  background-color: #1e1823;
  border: none;
}
.taste-sensation-picture {
  padding-top: 28px;
  margin-bottom: 25px;
}
.taste-sensation-picture-name.picture-name {
  color: #fff;
}
.taste-sensation-picture-name {
  font-weight: 600;
  font-size: 14px;
  line-height: 1.28;
  letter-spacing: -0.02em;
  text-transform: uppercase;
  color: #111;
  text-align: start;
  padding-bottom: 28px;
  padding-left: 28px;
}
@media screen and (min-width: 768px) {
  .taste-sensation {
    margin-bottom: 80px;
  }
  .taste-sensation-title {
    margin: 0 auto;
    width: 411px;
    margin-bottom: 28px;
  }

  .section-title-text {
    width: 486px;
    margin: 0 auto;
    margin-bottom: 50px;
  }
  .taste-sensation-list {
    flex-direction: row;
    flex-wrap: wrap;
    gap: 32px;
  }
  .taste-sensation-list-items {
    width: calc((100% - 32px) / 2);
  }
}
@media screen and (min-width: 1168px) {
  .taste-sensation {
    margin-bottom: 100px;
  }
  .taste-sensation-list {
    flex-wrap: nowrap;
    gap: 19px;
  }
  .taste-sensation-list-items {
    width: calc((100% - 57px) / 4);
  }
}
/* #region overlay */
.overlay {
 position:;
 top: 0;
 left: 0; 
}

.overlay-title {}

.overlay-link {}

.overlay-link-btn {}

.overlay-text {}


/* #endregion overlay */

/* #endregion TASTE SENSATION  */
/* #region Footer  */

.footer {
  background-color: #1e1823;
}
.footer-text {
  font-weight: 500;
  font-size: 28px;
  line-height: 1.21;
  letter-spacing: -0.02em;
  color: #fff;
}

.footer-adr {
  font-style: normal;
}

.footer-adr-text {
  font-weight: 500;
  font-size: 14px;
  line-height: 1.28;
  color: #fff;
}

.footer-adr-list {
}

.footer-adr-item {
}

.footer-adr-link {
  font-weight: 400;
  font-size: 14px;
  line-height: 1.28;
  letter-spacing: -0.02em;
  color: #fff;
}
.footer-adr-link:hover,
.footer-adr-link:focus {
  color: #fd9222;
}

.nav-footer .item-nav-link {
  color: #fff;
}

.nav-footer .item-nav-link:hover,
.nav-footer .item-nav-link:focus {
  color: #fd9222;
}
/* #endregion Footer  */
